

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.slider.slider-vertical {
    margin-left: 3em;
}

.slider.slider-vertical .slider-handle.round {
    margin-left: -10px;
    width: 30px;
    height: 30px;
}

.channel-strip {
    margin-top: 5ex;
}

.fader {}













