:root {
  /* Color definitions: */
  --color-primary-very-dark: #071827;
  --color-primary-medium-dark: #102030;
  --color-primary-dark: #233041;
  --color-primary-muted: #5a6a80;
  --color-primary-light: #cfe8ff;
  --color-primary-very-light: #e6eef6;
  --color-secondary-light: #1e90ff;
  --color-tertiary-dark: #a70000;
  /* Color semantics: */
  --color-background: black;
  --color-foreground: var(--color-primary-very-light);
  --color-button-background: var(--color-primary-dark);
  --color-button-text: var(--color-primary-very-light);
  --color-button-active: var(--color-tertiary-dark);
  --color-faint-outline: var(--color-primary-medium-dark);
  --color-fader-background: var(--color-primary-very-dark);
  --color-fader-ticks: var(--color-primary-muted);
  --color-fader-zero-tick: var(--color-secondary-light);
  --color-fader-text: var(--color-primary-light);
  --color-secondary-bar: var(--color-secondary-light);
  /* Distance variables */
  --space-fader-bottom: 14px;
  --space-gap: 6px;
  --space-gap-double: 12px;
  --knob-height: 52px;
  --half-knob-height: calc(0.5 * var(--knob-height));
  --fader-slide-width: 8px;
  /* Size Variables */
  --font-size-xl: 18px;
  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-xs: 10px;
}

body {
  margin: 0;
  font-family: system-ui;
  background: var(--color-background);
  color: var(--color-foreground);

  overscroll-behavior: none;
  touch-action: none;
}

body, html {
  height: 100%;
}

.app {
  padding: 18px;
  padding-bottom: 0;
  height: 97%;

  background: var(--color-background);
}

header {
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: var(--font-size-xl);
  margin-right: 24px;
}

header .fullscreen-icon {
  cursor: pointer;
}

header .page-buttons {
  flex-grow: 2;
}

header .page-btn {
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  background: var(--color-button-background);
  color: var(--color-button-text);
  font-size: var(--font-size-m);
  cursor: pointer
}

header .page-btn.active {
  background: var(--color-button-active);
  color: var(--color-button-text);
}

header .sectype-btn {
  margin-left: 24px;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  background: var(--color-button-background);
  color: var(--color-button-text);
  font-size: var(--font-size-m);
  cursor: pointer;

  min-width: 64px;
}

header .sectype-btn::first-letter {
  text-transform: capitalize;
}

.mixer {
  height: 90%;

  display: grid;
  column-gap: 4px;
  grid-template-columns: repeat(16, minmax(48px, 1fr));

}

.fader {
  display: none;
  /* display: flex; */

  width: 100%;
  flex-direction: column;

  background: var(--color-fader-background);
}

.colorbar {
  background: gray;
  width: 100%;
  height: 6px;
  border-radius: 10px 10px 0 0;
  opacity: 0.9
}

.colorbar.bottom {
  background: gray;
  width: 100%;
  height: 6px;
  border-radius: 0 0 10px 10px;
  opacity: 0.9
}

.fader-name-input {
  margin-top: var(--space-gap);
  font-size: var(--font-size-m);
  color: var(--color-foreground);
  background: transparent;
  border: none;
  text-align: center;
  width: 90%;
  border-bottom: 1px solid var(--color-fader-background);
  padding: 2px 4px
}

.fader-name-input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-foreground);
}

.fine-tune {
  display: flex;
  flex-direction: row;
}

.fine-tune button {
  --fine-tune-extra-height: 12px;
  flex-grow: 1;
  background-color: var(--color-faint-outline);
  margin-top: 2px;
  padding-top: var(--fine-tune-extra-height);
  padding-bottom: var(--fine-tune-extra-height);
  border-radius: 6px;
  border: none;
  color: var(--color-foreground);
  font-size: var(--font-size-m);
  cursor: pointer
}

.fine-tune .minus-btn {
  margin-left: 3px;
  margin-right: 2px;
}
.fine-tune .plus-btn {
  margin-left: 2px;
  margin-right: 3px;
}

.db-value-indicator {
  font-size: var(--font-size-l);
  margin-top: var(--space-gap-double);
  margin-bottom: var(--space-gap);
  color: var(--color-fader-text);
  width: 90%;
  text-align: center;
  user-select: none;
  align-self: center;
}

.fader-line {
  position: relative;
  user-select: none;
  margin-top: var(--half-knob-height);

  width: 100%;
  flex-grow: 1;
  margin-bottom: var(--half-knob-height);
}

.fader-container {
  display: flex;

  width: 100%;
  height: 100%;
}

.fader-mouse-overlay {
  position: absolute;

  /* background-color: rgba(255,0,0,0.3); */

  width: 90%;
  height: calc(100% - var(--space-gap-double));
  margin-top: var(--space-gap-double);

  top: 0;
  left: 5%;

  z-index: 5;

  cursor: pointer;
}

.fader-left-gap {
  flex-grow: 2;
}

.fader-slide {
  width: var(--fader-slide-width);
  height: 100%;
  border-radius: 10px;
  background: black;

  flex-grow: 0;
}

.fader-knob {
  position: relative;

  width: 24px;
  height: var(--knob-height); /* factor: 2.167660806748611 */
  margin-left: calc(-1 * var(--fader-slide-width));
  margin-top: calc(-1 * var(--half-knob-height));

  pointer-events: none;

  z-index: 3;
}

.fader-right-ticks {
  flex-grow: 3;
  pointer-events: none;
}

.fader-tick {
  z-index: 0;
  box-sizing: border-box;

  position: relative;
  width: calc(100% - 3ch);
  height: 1px;
  background: var(--color-fader-ticks);
  margin-top: -1px;
}

.fader-tick::after {
  /* content: "0"; */
  font-size: var(--font-size-xs);
  color: var(--color-fader-ticks);
  margin-left: 4px;
  position: absolute;
  left: 100%;
  top: -6px;
}

.fader-tick.db12::after {
  content: "12";
}
.fader-tick.db6::after {
  content: "6";
}
.fader-tick.db-6::after {
  content: "-6";
}
.fader-tick.db-12::after {
  content: "-12";
}
.fader-tick.db-24::after {
  content: "-24";
}
.fader-tick.db-48::after {
  content: "-48";
}
.fader-tick.db-60::after {
  content: "-60";
}
.fader-tick.db-80::after {
  content: "-80";
}

.fader-tick:first-child {
  margin-top: 0;
}

.fader-tick:last-child {
  display: none;
}

.marker0 {
  z-index: 1;
  position: relative;
  width: calc(100% - 2ch);
  height: 2px;
  background: var(--color-fader-zero-tick);
  border-radius: 1px;
  margin-top: -1px;
}

.marker0::after {
  content: "0 dB";
  font-size: var(--font-size-xs);
  color: var(--color-fader-zero-tick);
  margin-left: 4px;
  position: absolute;
  left: 100%;
  top: -6px;
}

.primary-function {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.secondary-function {
  display: flex;
  flex-direction: column;
  width: 90%;
  left: 5%;
  position: relative;
  user-select: none;
}

.sec-container {
  position: relative;
  width: 90%;
  left: 5%;

  user-select: none;

  margin-bottom: 8px;
}

.sec-slide {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: var(--color-background);
  overflow: hidden;
}

.sec-slide-indicator {
  position: relative;
  top: 0;
  left: 0;

  width: 50%;
  height: 6px;

  background-color: var(--color-secondary-bar);
}

.sec-mouse-overlay {
  position: absolute;
  top: var(--space-gap-double);
  width: 100%;
  height: calc(100% - var(--space-gap-double));

  /* background-color: rgba(255,0,0,0.3); */

  cursor: pointer;
}

.sec-value-indicator {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;

  font-size: var(--font-size-m);

  user-select: none;
}

.sec-value-indicator span {
  font-size: var(--font-size-xs);
  color: var(--color-fader-ticks);
}

.sec-value-indicator::first-letter {
  text-transform: capitalize;
}

.secondary-function.disabled {
  cursor: none;
  pointer-events: none;

  filter: brightness(0.4);
}

.mute-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  background: var(--color-button-background);
  color: var(--color-button-text);
  font-size: var(--font-size-m);
  cursor: pointer
}

.mute-btn.active {
  background: var(--color-button-active);
  color: var(--color-button-text);
}
